/* ===========هدرسایت========== */
.header {
  position: sticky;
  top: 10px;
  z-index: 1000;
  height: 78px;
  background-color: #e7c181;
  margin: 10px 130px 0px 130px;
  border-radius: 30px;
  box-shadow: 0 6px 18px rgba(63, 26, 11, 0.22);
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 40px 0px 40px;
}
.header .header-section .img-logo {
  width: 60px;
  margin-top: 10px;
}
.header .header-section .nav-list {
  display: flex;
  gap: 25px;
}
.header .header-section .header-btn {
  margin-top: 8px;
  width: 100px;
  height: 60px;
}

.header-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition:
    transform 0.5s ease,
    filter 0.5s ease;
}
.header-btn:hover {
  transform: translateY(3px) scale(1.04);
  filter: brightness(1.08);
}

.nav-list a {
  position: relative;
  color: #401c0b;
  transition: color 0.25s ease;
}

.nav-list a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background: #ae7030;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.nav-list a:hover {
  color: #ae7030;
}

.nav-list a:hover::after {
  width: 100%;
}

/* ==============================main================================ */

/* =============hero-section============= */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15%;
}
.hero-content {
  display: block;
}
.title-h1 {
  font-size: 50px;
  color: #3f1a0b;
}
.title-h1-color {
  color: #ae6f30;
}
.hero-title {
  color: #3f1a0b;
  font-size: 18px;
  margin-top: 20px;
}
.hero-btn {
  width: 200px;
  margin-top: 30px;
}
.hero-btn img {
  width: 100%;
  height: 100%;
}
.hero-btn:hover {
  transform: translateY(3px) scale(1.04);
  filter: brightness(1.08);
}
.hero-image {
  display: flex;
  justify-content: center;
}
.hero-image img {
  width: 500px;
}

/* ========= */
.section-2 {
  padding: 30px;
  background-color: #fcebda;
  border-radius: 12% 12% 12% 12% / 6% 6% 6% 6%;
}
.why-us {
  text-align: center;
  color: #4e200e;
  font-size: 29px;
}
.title-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin: 10px;
}

.title-line::before,
.title-line::after {
  content: "";
  width: 55px;
  height: 2px;
  background-color: #8b5a2b;
}

.title-line span {
  width: 10px;
  height: 10px;
  background-color: #8b5a2b;
  border-radius: 50%;
}

.features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  padding: 20px;
  color: #6a2b13;
}
.feature {
  width: 230px;
  height: 230px;
  background-color: #fae7d5;
  border: 1px solid rgba(83, 28, 7, 0.227);
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 7px 10px rgba(35, 18, 10, 0.299);
  padding: 20px;
}
.feature:hover {
  transform: translateY(3px) scale(1.04);
  filter: brightness(1.08);
}
.icon {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto 15px;
}
/* =========================== */
.about {
  width: 100%;
  flex-wrap: wrap;
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  padding: 30px 15%;
  direction: ltr;
  flex-wrap: wrap;
}

/* =====عکس سمت چپ =====*/

.about-us .about-us-img {
  width: 600px;
  min-width: 600px;
  height: 350px;
  transform: translateX(-90px);
  order: 1;
}

.about-us .about-us-imges {
  width: 600px;
  height: 350px;
  display: block;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 2px 10px #3f1a0b;
}
.about-us .about-us-imges:hover {
  transform: translateY(3px) scale(1.04);
  filter: brightness(1.08);
}
/* ============ متن سمت راست============ */
.about-us .about-us-text {
  width: 430px;
  margin: 0;
  order: 2;
  direction: rtl;
  text-align: right;
}

/* عنوان */

.about-us .about-us-text h3 {
  width: 100%;
  margin: 0 0 10px;
  font-size: 29px;
  font-weight: 800;
  color: #3f1a0b;
  text-align: right;
}
/* =========خط سمت راست ============*/

.title-line-2 {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2px;
  margin: 10px;
}

.title-line-2::before,
.title-line-2::after {
  content: "";
  width: 55px;
  height: 2px;
  background-color: #8b5a2b;
}

.title-line-2 span {
  width: 10px;
  height: 10px;
  background-color: #8b5a2b;
  border-radius: 50%;
}
*/

/* ====== متن توضیحات======= */

  .about-us .about-us-text p {
  width: 100%;
  margin: 0 0 22px;
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
  color: #4b2a19;
  text-align: right;
}

/* ========دکمه سمت راست======= */

.about-us .about-us-btn {
  display: flex;
  width: fit-content;
  margin: 0 0 0 auto;
  padding: 10px 25px;
  color: #3f1a0b;
  background: transparent;
  border: 2px solid #3f1a0b;
  border-radius: 15px;
  text-decoration: none;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.about-us .about-us-btn:hover {
  background-color: #3f1a0b40;
}

.section-popular {
  background-color: #fcebda;
  border-radius: 12% 12% 12% 12% / 6% 6% 6% 6%;
}

.section-popular .popular .text-plr {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-popular .popular .text-plr .text-popular {
  color: #3f1a0b;
  font-size: 23px;
  margin-top: 30px;
  padding-top: 30px;
}
.section-popular .popular .img-popular {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 20px;
  flex-wrap: wrap;
}
.section-popular .popular .img-popular .card-popular {
  width: 220px;
  height: 260px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0px 0px 8px#3c3c3c69;
  margin-bottom: 30px;
}
.section-popular .popular .img-popular .card-popular:hover {
  transform: translateY(3px) scale(1.04);
  filter: brightness(1.08);
}
.section-popular .popular .img-popular .card-popular .image-card {
  width: 220px;
  height: 190px;
  border-radius: 28px 28px 0px 0px;
}

.comment .comment-text {
  margin-top: 30px;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  color: #4b2a19;
}
.comment .comment-man {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
}
.comment .comment-man .comment-section {
  background-color: #fffbe3;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 2px 5px #3f1a0be0;
  margin: 10px;
  width: 380px;
  color: #3f1a0be0;
}
.comment .comment-man .comment-section .comment-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #f3e6d0;
  outline: 2px solid #b88945;
  box-shadow: 0 4px 12px rgba(63, 26, 11, 0.3);
}
footer {
  background-color: #fcebda;
  padding: 30px;
  border-radius: 12% 12% 12% 12%;
}
.footer {
  display: flex;
  height: 140px;
  background-color: #5e391f;
  margin: 0px 100px 0px 100px;
  border-radius: 30px;
  box-shadow:
    0 2px 2px rgba(0, 0, 0, 0.272),
    inset 0 2px 6px rgba(248, 211, 174, 0.6);
}

.footer .footer-item {
  color: #fcddae;
  margin: 30px 80px 30px 80px;
}
.footer-bottom-q {
  text-align: center;
  margin-top: 30px;
}
.footer .footer-bottom {
  display: flex;
}
